* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}

#root {
  display: flex;
  min-height: 100%;
  min-width: 100%;
  gap: 40px;
  justify-content: center;
  padding: 2% 0;
}

#cv-editor,
#cv-preview {
  display: flex;
  flex-direction: column;
  width: 30%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 5px;
}

#cv-editor {
  padding: 2%;
}

#cv-editor > div {
  flex: 1;
}

form {
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

input {
  padding: 5px;
  border: 1.25px solid black;
  border-radius: 5px;
}

.Buttons {
  margin-top: 2vh;
  display: flex;
  gap: 0.5vw;
}
